<div>
    <div class="row">
        <div class="col-lg-12" >
            <h1 class="page-header">In Search of a Better Semester</h1>
        
        </div>
        
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
       
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
         <div class="form-group" id="radio-main">
                                
                                <label class="radio-inline" id="prof-radio">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked >Professors
                                </label>
             
                                <label class="radio-inline" id="crse-radio">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Courses
                                </label>
                                
                            </div>


  
        </div>
        <!-- /.col-lg-4 -->
    </div>